
token here : <a ui-sref="reg">token</a><br><br>

<div map-lazy-load="https://maps.google.com/maps/api/js?key=AIzaSyDSfPMHa-sYjwY19jqBr5jEPju8Jtu9ANM">
    <ng-map center="{{address}}" zoom="12">
        <marker ng-repeat="marker in vm.model.venueRespone.response.groups[0].items" position="[{{marker.venue.location}}]" title="{{marker.venue.name}}"></marker>
    </ng-map>
    <br>Address : <input ng-model="address"/> <input type="submit" ng-click="update (address)" name="searchHere" value="искать здесь"/>
    <pre>{{position | json}}</pre>
</div>

<div ng-repeat="blocks in vm.model.venueRespone.response.groups[0].items" style="background-color: #999999">


    <img ng-src="{{blocks.venuePhotos.response.photos.items[1].prefix}}100x100{{blocks.venuePhotos.response.photos.items[1].suffix}}">
    <img ng-src="{{blocks.venuePhotos.response.photos.items[2].prefix}}100x100{{blocks.venuePhotos.response.photos.items[2].suffix}}">
    <img ng-src="{{blocks.venuePhotos.response.photos.items[3].prefix}}100x100{{blocks.venuePhotos.response.photos.items[3].suffix}}">
    <div>
        <h2>{{blocks.venue.name}}</h2>
        <h3>{{blocks.venue.location.address}}</h3>
        <div ng-repeat="group in vm.model.venueRespone.response.groups[0].items[$index].venue.photos.groups track by $index">

        <img ng-src="{{group.items[0].prefix}}150x150{{group.items[0].suffix}}"/>

            <a  ui-sref="vCard ({id: '{{blocks.venue.id}}'})">link forward</a>
            <div>comments :<img ng-src="{{blocks.tips[0].user.photo.prefix}}30x30{{blocks.tips[0].user.photo.suffix}}" />
            <pre>{{blocks.tips[0].user.firstName +' '+ blocks.tips[0].user.lastName}}<br>{{blocks.tips[0].text}}</pre></div>
        </div>
    </div>


    


</div>

