<div>
   <h1>{{vm.model.vcardRespone.response.venue.name}}</h1><br>
   <h3>{{vm.model.vcardRespone.response.venue.location.address}}</h3>
    <div ng-repeat="categorie in vm.model.vcardRespone.response.venue.categories">
        <span>категории:{{categorie.name}}</span>
    </div>
    <h4>rating{{vm.model.vcardRespone.response.venue.rating}} / 10</h4>
    <h4>phone{{vm.model.vcardRespone.response.venue.contact.phone}}</h4>

    <div><a ui-sref="vCard.photos_fs" ng-click="showPhotos = !showPhotos"> photos from FOURSQUARE</a><div ng-show="showPhotos"><ui-view></ui-view></div></div>

    <div><a ui-sref="vCard.comments_fs" ng-click="showHide = !showHide"> comments from FOURSQUARE</a><div ng-show="showHide"><ui-view></ui-view></div></div>
<br>Add comment :
    <form name="comment">

        <input type="text" name="text" ng-model="tips.text">
        <input type="submit" ng-click="vm.model.sendTips(tips)" value="send comment">
        {{tips.text}}<br><br>
        controller tips{{vm.model.tips}}

    </form>



        <ng-map center="{{vm.model.vcardRespone.response.venue.location.lat}},{{vm.model.vcardRespone.response.venue.location.lng}}">
            <marker position="{{vm.model.vcardRespone.response.venue.location}}"></marker>
        </ng-map>

</div>